{% extends 'base.html' %}
{% load static%}


{% block 'main' %}


<div class="card col-md-10 m-4"  height="100%" style="width: 100%">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <h4><p>Hello and welcome to our COVERHUB page.</p></h4>
    <h4><p>Our team is dedicated to providing the best quality covers for your needs.
        </p></h4>
    <h4><p>Thank You! For Choosing Us.<p></h4><br>
    
</body>
</html>
</div>
{% endblock 'main' %}