{% extends 'base.html' %}
{% load static %}

{% block 'main' %}
<style>
   .h3{
      background-color: white;
      color:black;
   }
   .box{
      background: black;
      color: white;
    }

    .bg-light{
      background:grey;
      color:black;
    }
  
   .container{
      width: 100%;
      padding: 10px;
      background:white;
      color:white;
   }

  .form{
   width: 50%;
   margin: 0 auto;
   background:white;
   color:white;
  }

  .btn{
   background-color:rgb(124, 158, 179);
   color: white;
  }
</style>
<div class="container">
<div class="row">
   {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS  %}
            <div class="alert alert-success">
               {{ message }}
            </div>
         {% endif %}
   {% endfor %}
   <div class="box col-8">
      <h3>Products</h3>
       {% for cover in cart %}
      <div class="row m-2" >
         <div class=" box col-6 p-2">
            <img src="{{ cover.cid.image.url}}" class="card-img-top" alt="Image not available" width="100%" height="100%">
         </div>
         <div class="col-6">
            <h3>{{ cover.cid.name }}</h3>
            <h3>Rs.{{ cover.cid.price }}</h3><br>
            <h4>Quantity:
            {% if cover.quantity > 1 %}
            <a class="btn" href="/updatecart/0/{{cart.id}}">-</a>
            {% endif %}
            <strong> {{cover.quantity}}</strong>
            <a class="btn" href="/updatecart/1/{{cart.id}}">+</a>
            </h4><br><br>
            <a href="/removecover/{{cart.id}}" class="btn">Remove</a>
         </div>
         
      </div>
     {% endfor %}
   </div>
   <div class="box col-4">
      <h3>Summary</h3>
         <h4>Items Count: {{count}}</h4>
         <h4>Total Amount: Rs. {{total}}</h4>
         <br>
         <a class="btn" href="/confirmorder">Confirm Order</a>
         <a class="btn" href="/">Shop More</a>
      </h3>
   </div>
</div> 

{% endblock 'main' %}